.header{
    display: flex;
    flex-direction: row;
    align-items: center;  
}

html{
   scroll-behavior: smooth;
   width: 100%;
}

.texts{
   font-family: Roboto Slab;
}

.titles{
   font-size: 40pt;
   font-family: fjalla One;
   display: flex;
   justify-content: center; 
}

.body{
  margin:0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__logo{
   
    display:flex;
    align-content: flex-start;
    margin-left: 40px;
    margin-top: 20px;
    
 }

 .header__logoimg{
   justify-content: flex-start;
    width: 75%;
    

 }

 .nav{
    width:80%;
    margin-top: 20px;
    align-content: space-around;  
 }

 .nav__item{
    font-size: 14pt;
    margin-left: 0px;
    text-decoration: none;
    font-family: Roboto Slab;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    position: relative;
    align-content: space-between;
    padding: 30px 2em ;
  
 }

 .nav__item::before {
   content: "";
   display: block;
   width: 0;
   height: 4px;
   background:#ff3091;
   position: absolute;
   top:0;
   left:0;
   transition: all 0.3s;

 }
 .nav__item:hover::before {
   width: 100%;
   
 }


 .btnFont{
   font-family: Roboto Slab;
   font-weight: bold;

 }

.input{
   
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    

}
 .input__signup{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border:4px solid;
    border-radius: 25px;
    font-size:8pt;
    border-color:white;
    background: transparent; 
    color: white
     
 }
 .input__signup:hover{
   background-color:white;
   border: none; 
   color:#d07dfa;
}

 .input__joinin{
   margin-top: 20px;
   width: 100px;
   height: 40px;
   border-radius: 25px;
   font-size:8pt;
   margin-left: 20px;
   background-color:white;
   border: none; 
   color:#d07dfa;
}

.input__joinin:hover{
    border:4px solid;
    border-radius: 25px;
    font-size:8pt;
    border-color: white;
    background:transparent;
    color:white;   
}


.banner{
   flex-direction: column;
   align-content: flex-start;
   margin-left: 100px;
   height: 80%;   
}
.banner__welcome{ 
   margin-top: 200px;
   font-size: 40pt; 
   font-family: fjalla One;
   color: white;
}

.banner_cta{
   margin-top: 20px;
   width: 300px;
   height: 60px;
   border-radius: 40px;
   margin-top:-200px;
   font-size:20pt;
   background-color:white;
   border: none; 
   color: #d07dfa;
 }

 .banner_cta:hover{
   
   border:5px solid;
   border-radius: 40px;
   border-color: white; 
   background: transparent;
   color:white;

 }

 .scrollIndicator{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

 .scrollIndicator__arrow{
    display: block;
    width:40px;
    height: 40px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
 }

 .scrollIndicator__arrow:nth-child(2){
   animation-delay: .2s;
 }

 .scrollIndicator__arrow:nth-child(3){
   animation-delay: .4s;
 }

 @keyframes animate
 {
   0%
   {
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
   }
   50%
   {
      opacity: 1;
   }
   100%
   {
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
   }
 }

.landingtop{
  height: 100vh;
  background: url(./bgroundBannerRetro.png) no-repeat center center fixed;
  background-size:cover;
  
  
}

.howitworks{
   align-items: center;
   width: 100%; 
}


.howitworks__description{
   display: flex;
   justify-content: center;
   margin-top: -30px;
   font-size: 20pt;
   letter-spacing: 2px;
}

.cards{
   margin-top: 60px;
   display: flex;
   justify-content: center;
   align-content: flex-start;
   flex-wrap: wrap;
   width:100%;
  
}

.cards__titles{
   font-size: 2.5vw;
   font-family: fjalla One;
   width:30%;
   display: flex;
   align-items: center;
   position: relative;
   flex-direction: column;
}


.cards__img{
   width: 90%;
   
}

.cards__h1{
   position: absolute;
   text-align: center;
    
}

.cards__text{
   display: flex;
   align-items: center;
   text-align: center;
   position: absolute;
   width: 70%;
   font-size: 1.5vw;
   justify-content: center;   
   opacity: 0; 
   padding: 10%; 
   transition: all .3s ease-in-out;
   background-color: rgba(100, 100, 100, 90%);
   height: 85%;
   color: aliceblue;
   top:-10%;  
}

.cards__text:hover{
   opacity: 100;
   top:0 
}

.cards__titles:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.tabsft__title{
   line-height: 1.3em;
   margin: 0;

}

.tabsft__nav{
    display: flex;
    justify-content: center; 
    width: 100%;
    
     
}

.tabsft__btn{
   font-family: Roboto Slab;
   font-weight: bold;
   margin: 0px 10px;
   background: none;
   border: none;
   padding: 4px 6px;
   outline: none;
   font-size: 16pt;
   padding: 1.3em; 
   
}

.btnline{
   cursor: pointer;
   position: relative;

}

.btnline::after{
   content: '';
   height: 4px;
   background:#d82364;
   position: absolute;
   bottom: 0px;
   width: 100%;
   left: 0px;
   transition: transform .3s ease;
   transform: scale(0, 1);
}

.btnline:hover::after{
   transform: scale(1, 1);
}

.btnline:focus::after{
   transform: scale(1,1);
}

.btnline--active::after{
   transform: scale(1,1);
}


.tabsft__content{
   width: 100%;
   display: flex;
   justify-content: center;
   align-content: space-between;
   align-items: center;
   
}

.tabsft__item{
   display: none;
}

.tabsft__item--active{
   display: block;

}
    


.tabsft__text{
   font-size: 18pt;
   display: flex;
   align-content: center;
   flex-direction: column;
   padding: 2em;
   width: 100%;
   height: 100%;
   
}
.tabsft__subtitle{
    font-size: 30pt;
}

.btn__tabs{
     display: flex;
     align-self: flex-end;
     width:60%;
     padding: 15%;
     
     
}
.tabsft__cta{
      margin-top: 40%;
      width: 300px;
      height: 60px;
      border-radius: 40px;
      margin-top:-200px;
      font-size:20pt;
      background-color:#d82364;
      border: none; 
      color:white;
      cursor: pointer;
      align-items: flex-end;
    }

.tabsft__cta:hover{
      
      border:5px solid;
      border-radius: 40px;
      border-color: #d82364; 
      background: transparent;
      color:#d82364;
   
    }
   


 

@media screen and (max-width: 700px){
  .nav{
   display: none;
   background-image: url("./anvorguesa.png");
  }
  

  .banner_cta{
     display: none;
  }

  .header__logo{
     margin-top: 300px;
  }

  .banner{
     margin-left: 30px;
     
  }

  .banner__welcome{
     font-size: 50px;
     line-height : 55px;
     margin-top:0;
  }

  .input{
     margin-right: 0;
 
  }

}
 