.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:Roboto slab; 



}

.header__logo{
    margin-left: 40px;
    margin-top: 20px;
    
 }

 .header__logoimg{
    width: 70%;
    

 }

 .nav{

    margin-top: 20px;

 }

 .nav a{
    font-size: 14pt;
    margin-left: 0px;
    text-decoration: none;
    color: black;
    padding: 20px;
    
 }


.input{
    
    display: flex;
    width:50%;
    justify-content: flex-end;

}
 .input__signup{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border:4px solid;
    border-radius: 25px;
    font-size:8pt;
    border-color: #eb5866;

    
 }

 .input__joinin{
   margin-top: 20px;
   width: 100px;
   height: 40px;
   border-radius: 25px;
   font-size:8pt;
   margin-left: 20px;
   background-color: #eb5866;
   border: none; 
   color: white;
}

@media(width: 700px){

   

}
 